.contene {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 220px;
    height: auto;
    background-position: center;
}

.card {
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    background-color: var(--color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    position: relative;
}