img {
    max-height: 300px;
    /* Limita el tamaño máximo de la imagen */
    object-fit: contain;
    /* Asegura que la imagen no se deforme */
}

.p-3 {
    text-align: justify;
}

div {
    font-size: 1.1rem;
}

.cardd {
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color);
    position: relative;
}

.regresar {
    width: 40px;
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.regresar svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
}